.app{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.logo{
    width: 150px;
}
.navbar{
    background-color: transparent;
    color: black;
}
.MuiButtonBase-root{
    color: black;
}
.js{
    justify-content: space-between!important;
}